<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<real>15</real>
	<real>30</real>
	<real>45</real>
	<real>60</real>
	<real>90</real>
	<real>120</real>
	<real>180</real>
	<real>240</real>
	<real>300</real>
</array>
</plist>
