<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>747004297754-3n73d2sn0n3k3d67u4m84nmk3k67jvqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747004297754-3n73d2sn0n3k3d67u4m84nmk3k67jvqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBWLEt2fagOjg2t6y_XpeSDcL0UshD-N8g</string>
	<key>GCM_SENDER_ID</key>
	<string>747004297754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iturbide.habanero.admin</string>
	<key>PROJECT_ID</key>
	<string>habanero-app</string>
	<key>STORAGE_BUCKET</key>
	<string>habanero-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:747004297754:ios:3bdc7040f84201cc</string>
	<key>DATABASE_URL</key>
	<string>https://habanero-app.firebaseio.com</string>
</dict>
</plist>
